*{
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-color: #FFFEE0;
    font-family: 'Josefin Slab', serif;
    font-size: 16px;
    min-height: 2000px;
}

h1{
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
    font-size: 4.5em;
    line-height: 1em;
    color: black;
    text-align: inherit;
    margin: unset;
    padding: unset;
}

p{
    font-family: 'Josefin Slab', serif;
    font-size: 1.5em;
    font-weight: 300;
    color: black;
    text-align: inherit;
    margin: inherit;
    padding: inherit;
}

.sans{
    font-family: 'Source Sans Pro', sans-serif;
}

.strong{
    font-weight: 400;
}

.justified{
    text-align: justify;
}

li{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: black;
    font-size: 1.25em;
    text-align: left;
    line-height: 2.5em;
    padding-left: 12.5%;
}

.p80{
    font-size: 1.25em;
}

.p75{
    font-size: 1.125em;
}

.p66{
    font-size: 1em;
}

a{
    text-decoration: none;
    color: inherit;
}

.link{
    color: #0064A7;
}

a.highlight{
    text-decoration: none;
    font-weight: 400;
    font-size: 1.2em;
    color: #00c4ff;
}

a.highlight:hover{
    color: yellow;
}

img, embed, object, video{
    display: block;
    width: 100%;
}

img.highlight:hover{
   border:5px solid yellow;
   border-radius: 100vmin;
}

.small{
    max-width: 150px;
}

.medium{
    max-width: 200px;
}

.large{
    max-width: 250px;
}

.content, .narrow-content, .wide-content{
    max-width: 95%;
}

.header{
    margin: 5vw auto;
}

.menu{
    display: table;
}

.align-center{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.align-left{
    margin-left: 0;
    margin-right: auto;
    text-align: left;
}

.align-right{
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}

.v-center{
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
}

.v-top{
    margin-top: 0;
    margin-bottom: auto;
    vertical-align: top;
}

.v-bottom{
    margin-bottom: 0;
    margin-top: auto;
    vertical-align: bottom;
}

.centered-column{
    display: table-cell;
    padding: 10px 0;
}

.left-column{
    display: table-cell;
    padding: 10px 10px 10px 0;
}

.right-column{
    display: table-cell;
    padding: 10px 0 10px 10px;
}

.w25{
    width: 24%;
}

.w33{
    width: 33%;
}

.w50{
    width: 49%;
}

.w66{
    width: 66%;
}

.w75{
    width: 74%;
}

.button {
  display: block;
  background-color: #5C5C96;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Josefin Slab', serif;
  font-weight: 700;
  color: #ffff6f;
  font-size: 2em;
  margin: 1em auto;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
}

.button:hover{
  background: #3cb0fd;
  color: yellow;
  text-decoration: none;
}

.pad-right{
  padding-right: 20px;
}

.pad-left{
  padding-left: 20px;
}

.pad-top{
  padding-top: 20px;
}

.pad-bottom{
  padding-bottom: 20px;
}

.pad10{
  padding: 10px;
}

.pad20{
  padding: 20px;
}

#main-menu-lg, #about, #connect{
    display: none;
}

@media screen and (min-width: 400px){
    body{
        font-size: 18px;
    }

    .narrow-content{
        max-width: 370px;
    }

    .centered-column{
        display: table-cell;
        padding: 10px 20px;
    }
}

@media screen and (min-width: 550px){
    body{
        font-size: 20px;
    }
}

@media screen and (min-width: 700px){
    .header{
        margin: 35px auto;
    }

    .content{
        max-width: 600px;
    }

    .wide-content{
        max-width: 670px;
    }

    .small{
        width: 150px;
    }

    .medium{
        width: 200px;
    }

    .large{
        width: 250px;
    }

    #main-menu-lg{
        display: block;
    }

    #main-menu-sm{
        display: none;
    }
}

/*@media screen and (min-width: 950px){
    .wide-content{
        max-width: 720px;
    }
}*/
