*{
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-color: #38363c;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

h1{
    font-family: 'Cabin Sketch', sans-serif;
    font-weight: 400;
    font-size: 4.5em;
    color: #94e4fc;
    text-align: center;
    margin: 0;
}

p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    color: yellow;
    text-align: center;
}

p.bold{
    font-weight: 400;
}

p.condensed{
    margin: 0.5em auto;
    line-height: 1em;
}

li{
    font-size: 1.4em;
    font-weight: 300;
    color: yellow;
    text-align: left;
    padding-bottom: 0;
}

li.button{
    text-align: right;
    padding-bottom: 2.5em;
    margin-top: -2.5em;
}

img, embed, object, video{
    max-width: 100%;
    margin: auto;
}

.row{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-wrap: wrap;
    max-width: 650px;
    width: 98%;
    margin: 0 auto;
}

.container{
    max-height: 100px;
    margin: auto 0;
}

.content{
    max-width: 95%;
    margin: 0 auto;
    text-align: center;
}

.w17{
    width: 16.67%;
}

.w25{
    width: 25%;
}

.w33{
    width: 33.33%;
}

.w50{
    width: 50%;
}

.w66{
    width: 66%;
}

#menu-bar{

}

#header{
    height: 25vw;
}

#large-title{
    display: none;
}

#first{
    display:block;
}

#second{
    display:none;
}

#third{
    display:none;
}

@media screen and (min-width: 400px){
    body{
        font-size: 18px;
    }
}

@media screen and (min-width: 500px){
    #logo{
        max-width: 160px;
    }
}

@media screen and (min-width: 650px){
    body{
        font-size: 22px;
    }
    .container{
        margin: 30px 0;
    }
    #header{
        height: 200px;
    }
    #logo{
        float: right;
        margin-right: 20px;
    }
    #large-title{
        display: inline;
        text-align: left;
    }
    #small-title{
        display: none;
    }
}
